# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc

# dependencies
node_modules
dist/
tmp/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data

#env Secrets
.env
.env.local
.env.*

# --- Node.js & NestJS Standard ---
node_modules/
dist/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# --- Environment Variables---
.env
.env.test
.env.production
.env.local
*.env

# --- Terraform---
# Ignorar carpetas de plugins descargados
**/.terraform/

# Ignorar estado de la infraestructura
*.tfstate
*.tfstate.backup

# Ignorar variables con secretos
*.tfvars
*.auto.tfvars

# Ignorar archivos de plan de ejecución
*.tfplan

# --- AWS Keys & Security---
# Ignorar cualquier llave privada generada
*.pem
*.pub
*.key
id_rsa
key.pem
plms-*.pem

# --- IDEs & OS ---
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# --- Nx Build Cache ---
.nx/cache
.nx/workspace-data